
[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name[en_US]=GenomeBits
Icon=genomebits.png
Exec=/opt/genomebits/bin/genomebits
Path=/opt/genomebits/bin
Name=GenomeBits
Comment=Program to analyze CoViD-19 variants
